{{> header.hbs }}

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <h2 class="moderate-bold uk-text-center uk-margin-medium-bottom">Chapter {{chapter.chapterNumber}}
            , {{chapter.name}}</h2>

        <div style="margin-left: 40%">
            <h3 class="light rem-1-8"><u>Important concepts</u></h3>
            <ul class="">
                {{#each chapter.concepts}}
                    <li>
                        <p class="rem-1-2">
                            {{#if url}}<a class="black" href="{{url}}">{{/if}}
                            {{concept}}
                            {{#if url}} {{> open-in-new.hbs }}</a>{{/if}}
                        </p>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div style="margin-left: 40%">
            <h3 class="light"><u>Resources</u></h3>
            <ul class="">
                <li>
                    <a href="/textbook/{{chapter.chapterNumber}}/notes">Notes</a>
                </li>
            </ul>
        </div>

        <div style="margin-left: 40%">
            <h3 class="light"><u>Review</u></h3>
        </div>

    </div>
</div>

{{> footer.hbs }}