{{> header.hbs }}

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <h2 class="light uk-text-center">A comprehensive reference database for AP Calculus AB</h2>

        <h2 class="moderate-bold uk-text-center"><a href="/reference" class="black">Quick References {{> open-in-new.hbs }}</a></h2>

        <div class="uk-margin-auto uk-text-center">
            {{#each references}}
                <h3 class="uk-margin-small-top"><a href="{{& path}}">{{name}} {{> open-in-new.hbs }}</a>
                </h3>
            {{/each}}
        </div>

        <h2 class="moderate-bold uk-text-center"><a href="/textbook" class="black">Textbook {{> open-in-new.hbs }}</a></h2>
        <div class="uk-margin-auto">
            {{#each chapters}}
                <h3 class="uk-text-center"><a href="/textbook/{{chapterNumber}}" class="black">Chapter {{chapterNumber}}
                    | {{name}} {{> open-in-new.hbs}}</a></h3>
                <div class="uk-width-1-5 uk-margin-auto">
                    <ul uk-accordion>
                        {{#each sections}}
                            <li>
                                <a class="uk-accordion-title rem-1" href="#">Section {{chapterNumber}}.{{sectionNumber}}
                                    | {{name}} </a>
                                <div class="uk-accordion-content rem-1">Go to <a
                                        href="/textbook/{{chapterNumber}}/{{sectionNumber}}">this section.</a>
                                    Section {{chapterNumber}}.{{sectionNumber}} is about {{description}}</div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{> footer.hbs }}